/* Custom CSS styles for navigation bar */
.navbar {
    background-color: #343a40;
}

.navbar-brand, .nav-link {
    color: #000000 !important;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

/* Custom CSS styles for hero section */
.hero {
    background-image: url('/static/jpg/nfl.jpg');
    background-size: cover;
    background-position: center;
    color: #000000;
    text-align: center;
    padding: 200px 0;
    display: flex;
    align-items: center;
}

.hero h1 {
    font-size: 36px;
}

.hero-content {
    flex: 1;
    padding: 20px;
    text-align: left;
}

/* Custom CSS styles for about section */
.about {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.about h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
    font-weight: 700;
}

/* Custom CSS styles for footer section */
.footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

#position-select {
    width: 100%; /* Adjust the width as needed */
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
}
#stats-container {
    max-width: 800px;
    margin: 25px auto; /* Adjust the margin values as needed */
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    float: left; /* Float the container to the left */
}

table.player-stats {
    width: 100%;
    border-collapse: collapse;
}

table.player-stats th, table.player-stats td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table.player-stats th {
    background-color: #333;
    color: #fff;
}

table.player-stats tr:nth-child(even) {
    background-color: #f2f2f2;
}
