/* Custom CSS styles for navigation bar */
.navbar {
    background-color: #333; 
}

.navbar-brand, .nav-link {
    color: #000000 !important;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-toggler {
    border-color: #ffffff;
}



/* Custom CSS styles for hero section */
.hero {
    background-image: url('/static/jpg/nfl.jpg');
    background-size: cover;
    background-position: center;
    color: #000000;
    text-align: center;
    padding: 200px 0;
    display: flex;
    align-items: center;
}

.hero h1 {
    font-size: 36px;
}

.hero-content {
    flex: 1;
    padding: 20px;
    text-align: left;
}

/* Custom CSS styles for about section */
.about {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.about h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
    font-weight: 700;
}

/* Custom CSS styles for footer section */
.footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}


/* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
} */

/* Season Select and Fetch Button Styles */
#season-select, #fetch-button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

#fetch-button {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

#fetch-button:hover {
    background-color: #0056b3;
}

/* Table Styles */
.standings-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-right: 10px;
    /* Rest of the table styles */
}

.standings-table th,
.standings-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.standings-table th {
    background-color: #343a40;
    color: #ffffff;
}

.standings-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Caption Styles */
.standings-table caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


/* Custom CSS styles for the bar chart */
#bar-chart {
    width: 800px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
    margin: 0 auto; /* Center the chart horizontally */
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style for the bars in the bar chart */
.bar {
    fill: #343a40; /* Bar color */
}

/* Style for the x-axis labels */
.x-axis text {
    font-size: 14px;
    fill: #333; /* Label color */
}

/* Style for the y-axis labels */
.y-axis text {
    font-size: 14px;
    fill: #333; /* Label color */
}

/* Style for the chart title */
.chart-title {
    font-size: 20px;
    font-weight: bold;
    text-anchor: middle;
    fill: #333; /* Title color */
}

/* Style for the x-axis label */
.x-label {
    font-size: 16px;
    text-anchor: middle;
    fill: #333; /* Label color */
}

/* Style for the y-axis label */
.y-label {
    font-size: 16px;
    text-anchor: middle;
    fill: #333; /* Label color */
}


/* Style the title */
h1.players-table {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

/* Style the label for the select element */
label.label-players {
    display: block;
    text-align: center;
    font-size: 14px;
    margin: 20px 0;
}

/* Style the select element */
select#position-select {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    width: 150px;
    border: 1px solid #0056b3;
    border-radius: 5px;
    background-color: #fff;
}

/* Style the container for player stats */
#stats-container {
    margin: 20px auto;
    /* width: 170%; */
    padding: 20px;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the table (add your own table structure within this div) */
#stats-container table {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}

#stats-container table th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

#stats-container table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

/* Style the table rows (alternating background colors) */
#stats-container table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#stats-container table tr {
    font-size: 12px;
}
/* Add hover effect to table rows */
#stats-container table tr:hover {
    background-color: #ddd;
}






