<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>NFL Tracker</title>
  
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Your NFL Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/nfl_scores">NFL Scores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/team_stats">Team Stats</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/player_stats">Player Stats</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

    <h1>Player Stats by Position</h1>
    
    <label for="position-select">Select Position:</label>
    <select id="position-select">
        <option value="Quarterback">Quarterback</option>
        <option value="Running Back">Running Back</option>
        <option value="Wide Receiver">Wide Receiver</option>
        <option value="Tight End">Tight End</option>
        <option value="Defensive Line">Defensive Line</option>
        <option value="Line Back">Line Back</option>
        <option value="Defensive Back">Defensive Back</option>
        <option value="Kicker">Kicker</option>
        <option value="Punter">Punter</option>
    </select>

    <div id="stats-container">
        <!-- Player stats will be displayed here -->
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>